<div>
    <div class="left">
        &copy; <script>document.write(new Date().getFullYear())</script> RestApia. All rights reserved.
    </div>

    <div class="filler"></div>

    <div class="social-links">
        <a href="https://www.reddit.com/r/restapia/" target="_blank">
            <i class="ph ph-reddit-logo"></i>
            <span>r/restapia</span>
        </a>

        <a href="https://discord.gg/FZuQyEpYM4" target="_blank">
            <i class="ph ph-discord-logo"></i>
            <span>Discord community</span>
        </a>

        <a href="https://x.com/rest_apia" target="_blank" style="gap: 2px;">
            <i class="ph ph-x-logo"></i>
            <div>rest_apia</div>
        </a>

        <a href="https://github.com/RestApia/RestApia.Community/issues" target="_blank">
            <i class="ph ph-github-logo"></i>
            <span>github issues</span>
        </a>
    </div>
</div>
