<div class="content">
  <div class="logo">
    <a href="/"><img src="/assets/images/logo.svg" alt="logo" /></a>
  </div>
  <div class="menu">
    <div class="menu-items">
      <a href="/not-ready" title="Tool features, documentation.">
        <i class="ph-fill ph-battery-charging-vertical"></i>
        <span>Features</span>
      </a>
      
      <a href="https://github.com/RestApia/RestApia.Documentation/discussions" title="Discussion board, where you can ask a new feature">
        <i class="ph-fill ph-chat-circle-text"></i>
        <span>Join discussion</span>
      </a>

      <a href="https://github.com/RestApia/RestApia.Documentation/issues" title="We have no bugs, only features. But if found, please, let us know.">
        <i class="ph-fill ph-bug-droid"></i>
        <span>Post Bug</span>
      </a>
    </div>

    <div class="download-btn">
      <a href="/plans" class="btn btn-primary">
        <img src="/assets/images/ico-download.svg" alt="" />
        GET
      </a>
    </div>
  </div>
</div>