<div class="content">
  <div class="logo">
    <a href="/"><img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="logo" /></a>
  </div>
  <div class="menu">
    <div class="menu-items">
      <a href="/not-ready" title="Tool features, documentation.">
        <i class="ph-fill ph-battery-charging-vertical"></i>
        <span>Features</span>
      </a>
      
      <a href="/not-ready" title="Discussion board, where you can ask a new feature">
        <i class="ph-fill ph-chat-circle-text"></i>
        <span>Pull Request</span>
      </a>

      <a href="/not-ready" title="We have no bugs, only features. But if still think different, please let us know.">
        <i class="ph-fill ph-bug-droid"></i>
        <span>Post Bug</span>
      </a>
    </div>

    <div class="download-btn">
      <a href="/plans" class="btn btn-primary">
        <img src="{{ "/assets/images/ico-download.svg" | relative_url }}" alt="" />
        GET
      </a>
    </div>
  </div>
</div>