html,
body {
  --app-bg-color: #212225;
  --app-bg-second: #26282b;
  --app-bg-accent: #6c38d9;
  --app-bg-accent-hover: #7c4be5;
  --app-bg-action: #4d8a43;
  --app-bg-action-hover: #65a95a;
  --app-fg-color: #C9C9C9;
  --app-fg-accent: #9461ff;
  --app-fg-accent-hover: #c3a8ff;
  --app-fg-warning: #B68C46;
  --app-fg-inactive: #acacac;
  --app-fg-muted: #4E4E4E;
  --app-fg-action: #4d8a43;
  --app-fg-action-hover: #87c47e;
  --app-stroke: #ffffff1a;
}
