.blocks {
  display: flex;
  flex-direction: row;
  gap: 60px;

  .block {
    background: var(--app-bg-second);
    padding: 30px;
    border-radius: 10px;
    width: 550px;

    h2 {
      line-height: 1em;
      margin: 0 0 20px 0;
      padding: 0 0 15px 0;
      border-bottom: solid 1px #ffffff15;
    }

    ul,
    ol {
      margin: 0;
      padding: 0 0 0 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      li a {
        text-decoration: none;
        // text-decoration: underline;
        // text-decoration-color: var(--app-fg-muted);
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 60px;

  & > .col {
    flex: 1;
  }
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.mt15 {
  margin-top: 15px;
}
