body, html {
  --app-max-width: 1300px;
  --app-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  
  --app-bg-color: #262628;
  --app-bg-alt: #202225;
  --app-bg-accent: #9461FF;
  
  --app-fg-color: #C9C9C9;
  --app-fg-accent: #6C38D9;
  --app-fg-silent: #606060;

  --app-shadow-accent: #3D168E;

  background: var(--app-bg-color);
  color: var(--app-fg-color);
  font-family: var(--app-font);

  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;

  min-width: 768px;
}
