$contentMargin: 20px;

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    // background-image: url(/assets/images/bg-1.jpg);
    // background-size: cover;
    // background-position: center;

    &::before {
        content: '';
        position: fixed;
        z-index: -1;
        inset: 0;
        background-image: url('/assets/images/bg-2.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: bottom;
        opacity: 0;

        animation: fadeInBodyBg 1.5s ease-in-out .25s forwards
    }

    &.index::before {
        background-image: url('/assets/images/bg-1.jpg');
        animation: fadeInBodyBg 3s ease-in-out .5s forwards
    }
}

main {
    flex-grow: 1;
    width: 100%;
}

a {
    color: var(--app-fg-accent);
    text-decoration: none;
    border-bottom: solid 1px var(--app-bg-accent);

    &:hover {
        color: var(--app-bg-accent);
    }
}

a.btn {
    color: var(--app-fg-accent);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px 8px 13px;
    gap: 7px;

    background: var(--app-bg-alt);

    border: 1px solid var(--app-bg-accent);
    box-shadow: 0px 4px 4px var(--app-shadow-accent);
    border-radius: 5px;

    &:hover {
        color: var(--app-bg-accent);
        background: var(--app-bg-color);
    }

    &.btn-disabled {
        border-color: var(--app-fg-silent);
        color: var(--app-fg-silent);
        box-shadow: none;
        pointer-events: none;
    }
}

@keyframes fadeInBodyBg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}