.markdown {
  h3 {
    font-weight: 200;
    margin-bottom: 5px;
  }

  p {
    margin: 15px 0;
  }

  em {
    font-style: normal;
    color: var(--app-fg-accent);
  }

  .content {
    background: var(--app-bg-second);
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 1200px;
  }
}
