$question-width: 600px;

.page-not-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 25%;
    padding-top: 40px;

    .title {
        font-size: 1.5em;
        font-weight: 200;
        text-shadow: 2px 1px 2px #00000078;
    }

    .question {
        font-size: 2.25em;
        font-weight: 200;
        line-height: 1.2em;
        max-width: $question-width;
        text-align: center;
        background: var(--app-bg-color);
        padding: 30px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .answer {
        max-width: $question-width;
        width: $question-width;
        display: flex;
        justify-content: end;
        transform: translateY(-50%);
        padding: 0 16px;

        .content {
            background-color: var(--app-fg-accent);
            transition: background-color 0.2s ease-in-out;
            padding: 6px 18px;
            border-radius: 5px;

            &:hover:not(.revealed) {
                cursor: pointer;
                background-color: var(--app-bg-accent);
            }

            .reveal-btn {
                user-select: none;
                display: flex;
                align-items: center;
                gap: 7px;
            }

            .secret {
                display: none;
                position: relative;
                // overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    background: var(--app-fg-color);
                    border-radius: 100%;
                    transform: translate(-50%, -50%);
                    animation: revealAnimation .5s ease-out;
                }
            }

            &.revealed {
                .reveal-btn {
                    display: none;
                }

                .secret {
                    display: block;
                }
            }
        }
    }
}

@keyframes revealAnimation {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}