---
layout: base
bodyClass: inner
---

<header>
  {% include logo.html %}
  <div>{% include main-menu.html %}</div>
</header>
<main class="markdown">
  <div class="content">{{ content }}</div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("pre code").forEach((block) => {
      // add copy button to code blocks
      block.parentNode.insertAdjacentHTML(
        "beforeend",
        '<button class="copy-button" title="Copy"><i class="ph-fill ph-copy"></i></button>'
      );

      // add click event to copy button
      block.parentNode
        .querySelector(".copy-button")
        .addEventListener("click", () => {
          navigator.clipboard.writeText(block.textContent);
          var icon = block.parentNode.querySelector(".copy-button i");
          icon.classList.remove("ph-fill");
          icon.classList.remove("ph-copy");
          icon.classList.add("ph");
          icon.classList.add("ph-check");

          setTimeout(() => {
            icon.classList.remove("ph");
            icon.classList.remove("ph-check");
            icon.classList.add("ph-fill");
            icon.classList.add("ph-copy");
          }, 1000);
        });
    });
  });
</script>
